body {
    background-color:darkred;
}

h2 {
    background-color:black;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a {
    background-color:black;
    color:white;
}

p {
    background-color:black;
    color:white;
}

h3 {
    background-color:black;
    color:white;
    font-family:fantasy;
}

ul {
    color:white;
}

h5 {
    color:white;
}